html {
    padding: 1rem;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  :root {
    color-scheme: dark light;
    --color: #111111;
    --back: #eeeeee;
  }  
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color: #eeeeee;
      --back: #111111;
    }
  }
  
  body {
    position: relative;
    margin: 0 auto;
    max-width: 800px;
    color: var(--color);
    background-color: var(--back);
  }
  
  
  
  code {
    background-color: #eeeeaa;
    color: #222222;
    padding: 0 0.2em;
  }
  pre > code {
    display: block;
    padding: 0.4em;
  }
  
  a, a:hover, a:visited {
    color: currentColor;
    text-decoration: underline;
  }
  

  
